    @keyframes up {
        from {
            transform: translateY(30px);
            opacity: 50%;
        }
        to {
            transform: translateY(0);
            opacity: 100%;
        }
    }