<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FiveReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/menu.css">

    <link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/vendor/fontawesome-free-5.14.0-web/css/all.min.css">
    <script type="text/javascript" src="../../assets/vendor/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../assets/vendor/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/srcipt.js"></script> -->
    <style>
        .help-section {
            padding-left: 50px;
            color: #12537e;
        }
    </style>
</head>

<body>
    <main class="container rounded bg-light" style="height: auto; min-height: 0px;">
        <h4 class=" rounded text-white m-3 bg-primary d-flex p-2"> Điều khoản sử dụng - Miễn trừ trách nhiệm</h4>
        <div class="help-section">

            <p>
                1. Review trường là website để người dùng chia sẻ việc học, trải nghiệm việc học ở các trường Đại học/Cao đẳng/Trung cấp ở TP HCM </p>
            <p>
                2. Toàn bộ thông tin đăng tải trên reviewtruong.com là do người dùng cung cấp. Người dùng đăng thông tin lên reviewtruong.com chịu trách nhiệm hoàn toàn về tính xác thực của thông tin đó. </p>
            <p>
                3. Chúng tôi không có trách nhiệm quản lý, chỉnh sửa hoặc xóa bỏ nội dung đăng tải bởi người dùng. </p>

        </div>
        <h4 class=" rounded text-white m-3 bg-primary d-flex p-2"> Can I use Review trường for reviews about my school?</h4>
        <div class="help-section">

            <p>While we do receive legal demand letters about reviews from time to time that include threats to sue Review trường, so far, no one has followed through with a lawsuit against us for our reviews. Why? Because: </p>

            <p> 1. US law protects Review trường from legal responsibility for the content submitted by our users. </p>

            <p> 2. US law also protects us from foreign libel judgments. The operation of Review trường's platform takes places solely in the US by Review trường's US-domiciled entity. </p>

            <p> 3. So, any judgment obtained against Review trường outside the US (in the unlikely event Review trường is unable to prevail in the foreign proceeding) will still have to be enforced in the US - subject to the US laws that protect Review trường
                for liability for the content created and submitted by its members. </p>

            <p> The law is clear on this. So employers who sue Review trường for the reviews posted by our members risk penalties imposed by the court. These may include financial sanctions and reimbursement of our attorney's fees for our having to defend
                against a lawsuit that ignores obvious legal protections for Review trường. </p>

            <p> Remember: This FAQ is provided for informational purposes only and does not constitute legal advice. You should not rely upon this information without seeking advice from an attorney who is competent in the relevant field of law. </p>
        </div>
    </main>
</body>

</html>