<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FiveReview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../assets/css/menu.css">

	<link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap-4.5.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/fontawesome-free-5.14.0-web/css/all.min.css">
	<script type="text/javascript" src="../../assets/vendor/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../assets/vendor/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../assets/js/srcipt.js"></script> -->
    <style>
        .help-section {
            padding-left: 50px;
            color: #12537e;
        }
    </style>
</head>

<body>
    <main class="container rounded bg-light" style="height: auto; min-height: 0px;">

        <h4 class=" rounded text-white m-3 bg-primary d-flex p-2"> Giải đáp thắc mắc</h4>
        <div class=" help-section">
            <h5> 1. Có trường tôi muốn review nhưng không thấy trên trang này?</h5>
            <p>Quý vị vui lòng gửi mail five-review@gmail.com (Five-Review), điền thông tin trường muốn thêm. Chúng tôi sẽ duyệt thêm trường mới trong vòng 12-24 tiếng!</p> <br>

            <h5> 2. Tôi muốn xóa review/ban user nào đó?</h5>
            <p>Quý vị vui lòng sử dụng email của trường để gửi mail tới five-review@gmail.com với tiêu đề "Yêu cầu xóa review". Chúng tôi không tiếp nhận yêu cầu từ các email đuôi gmail, yahoo, hotmail, ... Việc xóa review sẽ được thực hiện tùy thuộc vào
                nội dung review và thái độ của quí vị/quí trường học. Chúng tôi không lưu trữ bất kì thông tin nào của người dùng nên không thể ban bất kì người dùng nào.</p> <br>

            <h5>3. Nội dung đăng tải trên trang này có chính xác không?</h5>
            <p> Người đăng review chịu trách nhiệm về tính xác thực của nội dung mình đăng lên. Nói đơn giản là bạn tin thì tin, không tin thì thôi. Chúng tôi không thể kiểm chứng tính xác thực của toàn bộ review do người dùng được.</p> <br>

            <h5> 4. Trang này được tạo ra nhằm mục đích gì vậy? Có kiếm được tiền không?</h5>
            <p>Review trường học là website để người dùng chia sẻ cách dạy, trải nghiệm việc học ở các trường Đại Học/Cao Đẳng/Trung Cấp ở TP HCM. Mục tiêu của website là để sinh viên có chỗ chia sẻ, giúp nhau vào được trường tốt, góp ý cải thiện trường
                . Hiện tại, chúng tôi hoạt động hoàn toàn phi lợi nhuận.</p> <br>

            <h5>5. Thông tin của tôi có bị bán cho trường nào không??</h5>
            <p>Chúng tôi không yêu cầu hay lưu trữ bất kì thông tin nào của người dùng (địa chỉ IP, email, số điện thoại) nên không có gì để bán.</p> <br>

            <h5>6. Ủa sao tui hổng đăng comment được? Sao chơi xoá comment kì dzậy?</h5>
            <p>Để đảm bảo tính khách quan, chúng tôi không xoá comment của quí vị. Tuy nhiên, có thể comment của quí vị bị bộ lọc comment lọc bớt (khi vui thì chạy bằng AI 4.0, khi buồn thì chạy bằng cơm), vì 1 số lý do sau: Comment có 1 số từ ngữ thô tục,
                xúc phạm người khác, hoặc mang tính chất kích động bạo lực Comment đăng thông tin cá nhân người khác (họ tên, email, tài khoản MXH), vi phạm luật an ninh mạng Comment spam hoặc quảng cáo cho một số tổ chức, trang web khác Comment có yếu
                tố liên quan tới tôn giáo, chính trị, tình dục Bộ lọc comment đang được cải thiện dần dần, nếu có sơ sót mong quí vị thông cảm.</p> <br>
        </div>

    </main>
</body>

</html>